<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_teal"
        android:label="KinPlay"
        android:supportsRtl="true"
        android:theme="@style/Theme.KinPlay">
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.KinPlay" />
        <activity-alias
            android:name=".LauncherTeal"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_teal"
            android:label="KinPlay"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherSunshine"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_sunshine"
            android:label="KinPlay"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
